input,
select,
textarea {
  flex: 1 1 auto;
  margin: 12px;
  padding: 12px;
  border-radius: var(--small-radius);
  outline: none;
  border: 1px solid #999;
  font-family: 'Noto Sans', sans-serif;
}
