:root {
  --background: hsla(0, 0%, 95%, 1);
  --background-alt: hsla(0, 0%, 90%, 1);
  --card-bg: hsla(0, 0%, 90%, 0.9);
  --top-bar: #ccc;
  --body-padding: 1em;
  --button-secondary: #cccccc;
  --button: #999;
  --button-active: #888;
  --bar-color: #ddd;
  --small-radius: 4px;
  --text-color: #333;
  --text-light: #555;
  --mobile-size: 500px;
  --border-color: #666;
  --border-thin: 1px solid hsla(0, 0%, 0%, 0.2);
  --background-transparent: hsla(0, 0%, 95%, 0.85);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(0, 0%, 30%, 1);
    --background-alt: hsla(0, 0%, 20%, 1);
    --top-bar: #444;
    --body-padding: 1em;
    --button-secondary: #222;
    --button: #343434;
    --button-active: #424242;
    --bar-color: #333;
    --small-radius: 4px;
    --text-color: #eee;
    --text-light: #aaa;
    --mobile-size: 500px;
    --border-color: #999;
    --border-thin: 1px solid hsla(0, 0%, 100%, 0.2);
  }
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: 'Commissioner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.7em;
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background);
}

#app > main {
  display: flex;
  flex-flow: column;
  max-width: 55ch;
}
