.status {
  background-color: #555;
}

.status.new {
  background-color: rgb(154, 184, 93);
}
.status.dev {
  background-color: #ccc;
}
.status.process {
  background-color: rgb(157, 219, 199);
}
.status.pause {
  background-color: rgb(179, 179, 179);
}
.status.product {
  background-color: rgb(115, 211, 152);
}
.status.ondemand {
  background-color: rgb(202, 143, 120);
}
.status.finish {
  background-color: lightblue;
}
