.list-enter-active {
  transition: all 0.3s ease-out;
}
.list-enter-from {
  opacity: 0;
  z-index: 20;
  transform: translateY(-100%);
}

.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-leave-active {
  transition: all 0.4s ease-in;
}
.list-move {
  transition: transform 0.8s ease-in-out;
}
.list-item {
  z-index: 1;
}

.fade-enter-active {
  transition: all 0.5s ease;
}
.fade-leave-active {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter-from {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leaver-active {
  transition: opacity 0.5s ease;
}

.slide-right-enter-to,
.slide-right-leave-from {
  opacity: 1;
}

.slide-right-enter-from {
  transform: translateX(-30px);
}

.slide-right-leave-to {
  transform: translateX(30px);
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: all 0.1s ease;
  opacity: 1;
}
